{% load staticfiles %}

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cssfamily.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/devices.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/jstree/dist/themes/default/style.min.css' %}" />    
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Center.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_panel-table.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_panel-table1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-animation.js' %}"></script>
    <script src="{% static 'assets/js/aos.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/devices.js' %}"></script>
    
<style>
input {
	border-radius: 10px;
}
</style>