
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Workflow </title>
    
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cssfamily.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/devices.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/jstree/dist/themes/default/style.min.css' %}" />    
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Center.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_panel-table.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_panel-table1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
    
    
    
<style>
.navbar {
    width: 101%;}	
input {
	border-radius: 10px;
}
</style>   
</head>

<body>
{%include "menu.html" %}

  

    <div class="row">
<input id = "request_response" type = "hidden" value='{{response}}'/>
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title"></h3>Workflows</div>
                  <div class="col col-xs-6 text-right">
                    <a href="/workflow/workflow-edit"><button type="button" class="btn btn-sm btn-primary btn-create">New Workflow</button></a>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list" id="workflow_table">
                  <thead>
                    <tr>
                    	<th hidden="true">Id</th>

                    	<th>Name</th>
                        <th>Descrption</th>
                        <th>Insertion Time</th>
                        <th>Scheduled</th>
                        <th>Schedule Date</th>
                        <th><em class="fa fa-cog"></em></th>
                    </tr> 
                    </thead>
                    <tbody>
            

                           {% for workflow in workflowListData.workflows %}
                           
                          <tr>
                            <td hidden="true">{{ workflow.id }}</td>
                            
                            <td>{{ workflow.name }}</td>
                            <td>{{ workflow.description }}</td>
                            <td>{{ workflow.insertion_time }}</td>
                            <td>{{ workflow.is_scheduled }}</td>
                            <td>{{ workflow.schedule_time }}</td>
                            <td align="center">
                             
                              
                              
<input type="hidden" value="{{ workflow.name }}" />
          <form method="GET">
          <a class="btn btn-danger btn-s editAgent" role="button" href="#delete_{{ workflow.id }}_workflow" data-toggle="modal" ><em class="fa fa-trash"></em></a>
          </form>
          
            <div class="modal fade" role="dialog" tabindex="-1" id="delete_{{ workflow.id }}_workflow">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title col col-xs-6 text-left">Delete Confirmation</h4></div>
                    <div class="modal-body">
                    <form method="GET">
                    
                    <h4>Are you sure you want to delete : {{ workflow.name }}</h4>
                    
                    <button class="btn btn-default" type="button" data-dismiss="modal" >NO</button>
                    <button type="submit" name="delete_workflow" value="{{ workflow.id }}" class="btn btn-danger">yes</button>
                    </form>
              
                </div>
            </div>
        </div>
    </div>
                              </td>
                          </tr>
                          
                          
                          
                          
                          

                        {% endfor %}
                              
  </tbody>  
                  
                </table>


              </div>
              
            </div>

</div></div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/jstree/dist/jstree.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-animation.js' %}"></script>
    <script src="{% static 'assets/js/aos.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/workflow.js' %}"></script></body>
{% include "footer.html" %}
</html>

